<div class="row" style="background-color: whitesmoke; padding:10px;border-radius:10px;">
  <div class="col-sm-12">
      <div class="row" style="margin-bottom: 20px;color:red; text-align: center;">
          <div class="col-sm-12">
             <h1>Update</h1>
          </div>
      </div>  
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-2" style="font-weight:bold;">Employee Id</div>
          <div class="col-sm-3">
          <input type="text" id="txtEmpId" disabled="disabled"[(ngModel)] ="emp.empid"  class="form-control" placeholder="please enter EmpId"/>
          </div>
          <div class="col-sm-3"></div>
      </div>       
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-2" style="font-weight:bold;">Name</div>
          <div class="col-sm-3">
              <input type="text" id="txtEname" [(ngModel)] = "emp.name" class="form-control" placeholder="please enter name"/>
          </div>
          <div class="col-sm-3"></div>
      </div>
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-2" style="font-weight:bold;">Password</div>
          <div class="col-sm-3">
              <input type="text" id="txtpassword" [(ngModel)] = "emp.password"  class="form-control" placeholder="please enter password"/>
          </div>
          <div class="col-sm-3"></div>
      </div>
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-2" style="font-weight:bold;">Gender</div>
          <div class="col-sm-3">
              <input type="radio" id="rbtnMale" [(ngModel)] = "emp.gender"  value="Male" name="Gender"/><span>Male</span>
              <input type="radio" id="rbtnFemale"  [(ngModel)] = "emp.gender" value="Female" name="Gender"/><span>Female</span>
          </div>
          <div class="col-sm-3"></div>
      </div>


    

      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-2" style="font-weight:bold;">Phone</div>
          <div class="col-sm-3">
              <input type="text" id="txtPhone"  [(ngModel)] = "emp.phone"  class="form-control" placeholder="please enter phone number"/>
          </div>
          <div class="col-sm-3"></div>
      </div>
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-2" style="font-weight:bold;">Email</div>
          <div class="col-sm-3">
              <input type="text" id="txtEmail"  [(ngModel)] = "emp.email"  class="form-control" placeholder="please enter Email id"/>
          </div> 
          <div class="col-sm-3"></div>
      </div>
      
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-2" style="font-weight:bold;">Salary</div>
          <div class="col-sm-3">
              <input type="text" id="txtSalary" [(ngModel)] = "emp.salary"  class="form-control" placeholder="please enter Salary"/>
          </div>
          <div class="col-sm-3"></div>
      </div>
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-2" style="font-weight:bold;">Address</div>
          <div class="col-sm-3">
              <textarea id="txtAddress" rows="5"  [(ngModel)]="emp.address" class="form-control" placeholder="please enter address"></textarea> 
          </div>
          <div class="col-sm-3"></div> 
      </div>
      <div class="row" style="margin-bottom: 10px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-2" style="font-weight:bold;">Department No</div>
          <div class="col-sm-3">
               <select id="ddlDeptNo" [(ngModel)] = "emp.dpno"  class="form-control">
                  <option value="0">-Select Department-</option>
                  <option *ngFor="let dept of DeptList" value="{{dept.dpno}}">{{dept.dname}}</option>
            </select>
          </div>



          <div class="row" style="margin-bottom: 10px;">
              <div class="col-sm-4"></div>
              <div class="col-sm-2" style="font-weight:bold;">Active Status </div>
              <div class="col-sm-3">
                   <select id="ddlDeptNo"  [(ngModel)] = "emp.active"  class="form-control">
                      <option value="true">True</option>
                      <option value="false">False</option>
                </select>
              </div>


          <div class="col-sm-3"></div>
      </div>
      <div class="row" style="margin-top:20px; text-align: center;" >
          <div class="col-sm-4">
              <input type="button" id="btnUpdate" class="btn btn-primary" value="Update"/>
          </div>
          <div class="col-sm-4">
              <input type="button" id="btnUpdate" class="btn btn-primary" value="Delete"/>
          </div>
          <div class="col-sm-4">
              <input type="button" id="btnUpdate" class="btn btn-primary" value="Cancel" />
          </div>
      </div>
  </div>
</div>